{% extends 'auth_base.html' %}

	{% block title %}
	LCMS | login
	{% endblock %}

{% block body %}    
<div class="col-md-6 mx-auto my-5">
    {% if form.errors %}
        
    <div class="col-md-10 mx-auto text-danger px-3 p-3 m-1 rounded" style="background-color:pink; ">
        <div><i class="fas fa-exclamation-triangle"></i>  {{form.errors}}</div>
       
    </div>
    {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
            <div class="col-md-10 mx-auto text-danger p-3 rounded py-2" style="background-color:pink; ">
                <div><i class="fas fa-exclamation-triangle"></i> Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</div>
            </div>
            {% else %}
            <div class="col-md-10 mx-auto text-danger p-3 rounded" style="background-color:pink; ">
                <div><i class="fas fa-exclamation-triangle"></i> Please login to see this page.</div>
            </div>
        {% endif %}

    {% endif %}
		<div class="col-md-10 mx-auto  display-6 col my-3 px-0"><a href="{% url 'home' %}">LCMS</a> | Login</div>
        <form class="col-md-10 mx-auto card p-3" method="post" action="{{form.get_absolute_url}}">
            <div class="col-auto mx-0 px-0">
                <table>
                    {% csrf_token %}
                    <tbody>
                        <tr>
                            <label class="visually"  for="id_username">Email address:</label>
                            <div class="input-group">
                                <div class="input-group-text"><i class="fas fa-user"></i>	</div>
                                <input class="form-control" type="text" name="username" maxlength="254" required="" id="id_username">                    
                            </div>
                        </tr>
                        <tr>
                            <div class="my-3">
                                <label  for="id_password" class="form-label">Password</label>
                                <div class="input-group">
                                    <div class="input-group-text"><i class="fas fa-key"></i></div>
                                    <input type="password" class="form-control"  name="password" autocomplete="current-password" required="" id="id_password">
                                </div>
                            </div>
                        </tr>
                    </tbody>
                </table>
                <input type="hidden" name="next" value="{{ next }}">
                <div class="m-0 px-0 row col-12 ">
                    <div class="mr-auto py-2 col-md-6 text-start px-0 ">
                        <p>
                            or <a href="{% url 'account:signup' %}">sign up</a>
                        </p>
                    </div>
                    <button type="submit" class="float-right col-md-2 btn btn-primary">login</button>
                    
                </div>

             
            </div>
        </form>
</div>


{% endblock %}

<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
          <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
              <div class="brand-logo">
                <img src="../../images/logo.svg" alt="logo">
              </div>
              <h4>Hello! let's get started</h4>
              <h6 class="fw-light">Sign in to continue.</h6>
              <form class="pt-3">
                <div class="form-group">
                  <input type="email" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="Username">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="mt-3">
                  <a class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" href="../../index.html">SIGN IN</a>
                </div>
                <div class="my-2 d-flex justify-content-between align-items-center">
                  <div class="form-check">
                    <label class="form-check-label text-muted">
                      <input type="checkbox" class="form-check-input">
                      Keep me signed in
                    </label>
                  </div>
                  <a href="#" class="auth-link text-black">Forgot password?</a>
                </div>
                <div class="mb-2">
                  <button type="button" class="btn btn-block btn-facebook auth-form-btn">
                    <i class="ti-facebook me-2"></i>Connect using facebook
                  </button>
                </div>
                <div class="text-center mt-4 fw-light">
                  Don't have an account? <a href="register.html" class="text-primary">Create</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>