{% extends 'admin/mngmnt/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

{% if user.is_authenticated %}
<div class="">
    <!-- Button trigger modal -->


    <!-- Modal -->
    <!-- Button trigger modal -->
    {% if user.is_superuser %}
    <button type="button" class="btn btn-primary  text-white" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Create blog
    </button>
    {% endif %}

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post" action="{% url 'blog:create_article'  %}" enctype="multipart/form-data" novalidate>
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Create a new blog post</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- {{ form|crispy }} -->
                    <div class="modal-body">
                        <!-- <input type="hidden" name="csrfmiddlewaretoken"
                                value="h6c8F1iDpxIFyeLhz8c3wN87olEFKtzEqlkvnTjTbjvFnHxQMa99C9Rw13z0y6ol"> -->
                        <img id="previewBlog" style="max-width: 200px; max-height: 200px;" />

                        <div id="div_id_image" class="form-group">
                            <label for="id_image" class=" requiredField">
                                Image<span class="asteriskField">*</span>
                            </label>
                            <!-- <div>
                                <input type="file" name="image" accept="image/*"
                                    class="clearablefileinput form-control-file" id="id_image">
                            </div> -->
                            <div>
                                <input type="file" name="image" class="clearablefileinput form-control-file"
                                    id="id_image">
                            </div>
                        </div>
                        <div id="div_id_title" class="form-group"> <label for="id_title" class=" requiredField">
                                Title<span class="asteriskField">*</span> </label>
                            <div> <input type="text" name="title" maxlength="9000" class="textinput form-control"
                                    required="" id="id_title"> </div>
                        </div>
                        <div id="div_id_body" class="form-group"> <label for="id_body" class="">
                                Content
                            </label>
                            <div> <textarea name="body" style="width: 100%; height: 120px; resize: vertical;"
                                    id="id_body"></textarea> </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary text-white">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="row flex-row flex-wrap gap-3">
        {% for article in blog %}
        <div class="card p-0" style="width: 21rem;">
            <img src="{{article.image.url}}" style="max-height:200px;" class="card-img-top w-100 rounded-top" alt="...">

            <div class="card-body">
                <h5 class="card-title">{{ article.title|truncatechars:50 }}</h5>
                <p class="card-text">{{ article.body|truncatechars:160 }}</p>
                <div class="d-flex flex-wrap align-items-center justify-content-center mt-3">
                    <a href="{% url 'blog:blog_detail' article.pk %}" class="btn btn-success mb-0">Review</a>
                    <form action="{% url 'blog:delete_blog' article.pk %}" method="POST" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger border-0 mb-0"
                            onclick="return confirm('Are you sure you want to delete this appointment?');">Delete</button>

                    </form>
                    <!-- Button trigger modal -->
                    {% if user.is_superuser %}
                    <button type="button" class="btn btn-primary  mb-0 text-white" data-bs-toggle="modal"
                        data-bs-target="#exampleModal{{article.id}}">
                        Edit
                    </button>
                    {% endif %}
                </div>
             


                <!-- Modal -->
                <div class="modal fade" id="exampleModal{{article.id}}" tabindex="-1"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form method="post" action="{% url 'blog:update_article' article.id %}"
                                enctype="multipart/form-data" novalidate>
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Edit blog {{article.id}}</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    {% csrf_token %}


                                    <div id="div_id_image" class="form-group"> <label for="id_image"
                                            class=" requiredField">
                                            Image<span class="asteriskField">*</span> </label>
                                        <div> <input type="file" name="image" accept="image/*"
                                                class="clearablefileinput form-control-file" id="id_image"> </div>
                                    </div>
                                    <div id="div_id_title" class="form-group"> <label for="id_title"
                                            class=" requiredField">
                                            Title<span class="asteriskField">*</span> </label>
                                        <div> <input type="text" name="title" maxlength="9000"
                                                class="textinput form-control" required="" value="{{article.title}}"
                                                id="id_title"> </div>
                                    </div>
                                    <div id="div_id_body" class="form-group"> <label for="id_body" class="">
                                            Content
                                        </label>
                                        <div>
                                            <textarea name="body" style="width: 100%; height: 120px; resize: vertical;"
                                                class="" id="id_body">
                                                {{article.body}}
                                            </textarea>
                                            </textarea>
                                        </div>
                                    </div>




                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary text-white">Save changes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endblock content %}