{% extends 'admin/mngmnt/base.html' %}
{% load crispy_forms_tags %}

 
{% block content %}
<main class="content">
    <div class="mb-3">
        <h1 class="h3 d-inline align-middle">My Profile</h1>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="card">
                <div class="card-body">

                    <form action="/account/dashboard/edit/" method="post" enctype="multipart/form-data">
                        {% if user.avatar %}
                        <img src="{{user.avatar.url}}" class="col-4 rounded" alt="">
                        {% endif %}
                        {% csrf_token %}
                        {{form | crispy}}
                        <button class="btn btn-primary my-2" type="submit">Submit</button>
                    </form>
                </div>
            </div>
     </div>
    </div>
</main>

{% endblock  %}


 