{% extends 'admin/mngmnt/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

{% if user.is_authenticated %}
{% if user.is_superuser %}
<a href="{% url 'account:create_lawyer' %}" type="button" class="btn btn-primary text-white ">
    Create Lawyer
</a>
{% endif %}
    <div  class="row ">
      
            {% for p in object_list %}
            <div class="col-4 m-2">
                {% if p.user.avatar %}
                <div style="
                    background-image:url({{p.user.avatar.url}});
                    width:100%;
                    height:200px;
                    background-position:center center;
                    background-size: 100% auto;
                    border-radius:10px; 
                "></div>
                {% endif  %}
                <div class="my-2">
                    <h4 style="
                    display:flex;
                    justify-content:space-between"><span>{{p.user.get_full_name}}</span><small>ZMK{{p.fee}}/mo</small></h4>
                    <!-- <p>{{p.organisation}}</p> -->
                    <p>{{p.organisation}}</p>
                    <p>{{p.experience}}yrs experience</p>
                    <a href="{% url 'account:lawyer-details' p.pk %}" class="btn btn-success btn-md">View Details</a>
                    <td>
                        <form action="{% url 'account:delete-lawyer' p.pk %}" method="POST" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger border-0" onclick="return confirm('Are you sure you want to delete this appointment?');">Delete</button>
                  
                        </form>
                    </td>
                </div>
            </div>
            {% endfor %}
 
    </div>

    {% endif %}
{% endblock content %}
