{% extends 'base.html' %}
{% load static %}

{% block title %}
Blog | LCMS 
{% endblock title %}

{% block body %}

 <div style="
        background-color:black;
        height:200px;
        width:100%;
		display:flex; justify-content:center;align-items:center;
    " >
		<div class="h3 text-light ">Blog</div>
    </div>
	<!-- Page Content -->

	<div class="page_content">
		<div class="container">
			<div class="row row-lg-eq-height">

				<!-- Main Content -->

				<div class="col-lg-9">
					<div class="main_content">

						<!-- Blog Section - Latest -->

						<div class="blog_section">
							<div class="section_panel d-flex flex-row align-items-center justify-content-start">
								<div class="section_title">Latest Articles</div>
							</div>
							<div class="section_content">
								<div class="grid clearfix">
									<!-- Small Card Without Image -->
								

									{% for d in object %}
									<!-- Small Card With Image -->
									<div class="card card_small_with_image grid-item ">
										<img class="card-img-top" src="{{d.thumb.url}}" alt="">
										<div class="card-body" >
											<div class="card-title card-title-small"><a href="{{d.get_absolute_url}}">{{d.title}}</a></div>
											<small class="post_meta"><a href="{% url 'blog:blog_detail' d.pk %}">{{d.author}}</a><span>{{d.l_updated}}</span></small>
										</div>
									</div>
									{% endfor %}
							 		
						 
									<!-- Default Card With Background -->
									<div class="card card_default card_default_with_background grid-item">
										<div class="card_background" style="background-image:url(images/post_6.jpg);background-color:black  "></div>
										<div class="card-body">
										<div class="card-title card-title-small"><a href="">"Building strong relationships with clients."</a></div>
										</div>
									</div>

				
								</div>
								
							</div>
						</div>

					</div>
				
				</div>

				
			</div>
		</div>
	</div>

 

{% endblock body %}